{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <h3>Hi, I’m Saksham Singh 👋</h3>
        <p>
          I’m a Computer Science Engineering student with a strong interest in Backend Development, Artificial Intelligence, and Machine Learning. I enjoy building projects that solve real-world problems and help me sharpen my skills in Python, Flask, SQLAlchemy, and web technologies.
        </p>
        <p>
          This blog is part of my journey in learning and applying new concepts. Here, I share:
            📚 Notes and insights from my coding journey
            💻 Projects I’ve built during courses and self-learning
            🚀 Experiments with Python, APIs, and backend frameworks
        </p>
        <p>
          Thanks for stopping by! 🙌
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
